{% extends 'layout/layout.html' %}

{% block title %} - Edit Profile {% endblock %}

{% block alert_title %} Error {% endblock %}

{% block alert_btn %}
<a class="btn btn-{{category}} btn-block border" href="/profile/details/{{ current_user.id }}">Continue</a>
{% endblock %}

{% block content %}
<div class="container" style="margin-top: 120px;">
    <div class="row">
        <div class="col-md-4">
            <h3>Profile</h3>
            <br>
            <p>Username: {{current_user.username}}</p>
            <p>Fullname: {{current_user.firstname}} {{current_user.lastname}}</p>
            <p>Gender: {{current_user.gender}}</p>
            <p>Birthdate: {{current_user.birthdate}}</p>
            <p>Email: {{current_user.email}}</p>
            <p>Since: {{current_user.createdOn.strftime('%Y-%m-%d')}}</p>
        </div>
        <div class="col-md-5">
            <h3>Details</h3>
            <hr>
            <form action="/profile/details/{{ current_user.id }}" method="post">
                {{ form.hidden_tag() }}
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            {{ form.status.label }}
                            {{ form.status(class='form-control') }}
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            {{ form.phone.label }}
                            {% if form.phone.errors %}
                            {{ form.phone(class='form-control is-invalid', value=profile[0].phone) }}
                            <div class="invalid-feedback">
                                {% for error in form.phone.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.phone(class='form-control', value=profile[0].phone) }}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    {{ form.company.label }}
                    {% if form.company.errors %}
                    {{ form.company(class='form-control is-invalid', value=profile[0].company) }}
                    <div class="invalid-feedback">
                        {% for error in form.company.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.company(class='form-control', value=profile[0].company) }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.hometown.label }}
                    {% if form.hometown.errors %}
                    {{ form.hometown(class='form-control is-invalid', value=profile[0].hometown) }}
                    <div class="invalid-feedback">
                        {% for error in form.hometown.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.hometown(class='form-control', value=profile[0].hometown) }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.location.label }}
                    {% if form.location.errors %}
                    {{ form.location(class='form-control is-invalid', value=profile[0].location) }}
                    <div class="invalid-feedback">
                        {% for error in form.location.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.location(class='form-control', value=profile[0].location) }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.bio.label }}
                    {{ form.bio(class='form-control') }}
                </div>
                {{ form.submit(class='btn border') }}
            </form>
        </div>
        <div class="col-md-3"
            style="display: flex; flex-direction: column; justify-content: start; align-items: center;">
            <br>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-8">
                    <h3>{{ current_user.username }}</h3>

                    <div class="profile-img">
                        {% if current_user.profile %}
                        <img src="/static/uploads/{{current_user.profile[0].photo}}"
                            alt="{{current_user.profile[0].photo}}" id="profile-img">
                        <label for="photo" class="upload-label">
                            <span>
                                <input type="file" name="photo" id="photo" class="upload-input">
                                <i class="fa fa-camera" aria-hidden="true" class="upload-icon"></i>
                            </span>
                        </label>
                        {% endif %}
                    </div>
                    <img id="uploading" src="/static/icons/loading.gif" alt="Loading..." style="display: none;">
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}

{% block script %}
<script>
    $(document).ready(function() {
        $('#bio').val('{{profile[0].bio}}')
        $.each($('#status option'), function() {
            if($(this).val() == '{{profile[0].status}}') {
                $(this).attr('selected', 'selected')
            }
        })
        $('#photo').on('change', function() {
            $('#uploading').show()
            var photo = document.querySelector('#photo').files[0]
            var filesize = photo.size
            var filename = photo.name
            var extension = filename.split('.').pop().toLowerCase();
            if (jQuery.inArray(extension, ['gif', 'png', 'jpg', 'jpeg']) == -1) {
                alert('Invalid image file!')
                window.location.reload()
            }
            if (filesize > 2000000) {
                alert('Image size is exceeded the maximum!')
            }
            else {
                var data = new FormData()
                data.append('file', photo)
                $.ajax({
                    url: '/profile/photo/{{ current_user.id }}',
                    method: 'POST',
                    data: data,
                    contentType: false,
                    cache: false,
                    processData: false,
                    beforeSend: function () {
                        console.log('loading...')
                    },
                    success: function(data) {
                        setTimeout(function() {
                            console.log(data.path)
                            $('#uploading').hide()
                            $('#profile-img').attr('src', '/static/uploads/' + data.path)
                        }, 3000);
                    }
                })
            }
        })
    })
</script>
{% endblock %}